@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Karla';
  font-style: normal;
  color: #293264;
  height: 100%;
  background-color: #F5F7FB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-weight: 700;
}

button {
  background: #4D5B9E;
  border-radius: 15px;
  font-family: 'Karla';
  font-style: normal;
  text-align: center;
  color: white;
  font-size: larger;
  padding: 15px 50px;
}

.btnAnswers {
  background: rgb(239, 237, 243);
  color: #4D5B9E;
  padding: 10px 30px;
  margin-left: 10px;
}

.blob-container {
  position: fixed;
  z-index: -1;
  left: 0px;
  top: 0px;
  opacity: 50%;
  display: grid; 
  grid-template-columns: 1.3fr 0.5fr 1.2fr; 
  grid-template-rows: 1.3fr 0.4fr 1.3fr; 
  gap: 2% 2%; 
  grid-template-areas: 
    "blob1 . ."
    ". . ."
    ". . blob2"; 
}
.blob1 { grid-area: blob1; }
.blob2 { grid-area: blob2; }



